<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Kanban</title>
		<!-- CSS que reseta os estilos da página -->
		<link rel="stylesheet" href="./reset.css" />
		<!-- CSS only -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
			rel="stylesheet"
		/>
		<!-- JavaScript Bundle with Popper -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
		<!-- Import Vue.js -->
		<script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
		<!-- CSS próprio -->
		<link rel="stylesheet" href="./kanban.css" />
	</head>

	<body>
		<div id="kanbanDiv" class="container">
			<div class="row form header">
				<!-- FORMULÁRIO-->
				<div class="col-9">
					<label for="nome" class="form-label">Nome da Tarefa:</label>
					<input
						id="nome"
						name="nome"
						type="text"
						v-model="tarefa.nome"
						class="form-control"
					/>

					<label for="tipo" class="form-label">Tipo:</label>
					<select
						id="tipo"
						name="tipo"
						v-model="tarefa.tipo"
						class="form-select"
					>
						<option value="1">A fazer</option>
						<option value="2">Em Andamento</option>
						<option value="3">Concluído</option>
					</select>

					<label for="descricao" class="form-label">Descrição:</label>
					<textarea
						id="descricao"
						name="descricao"
						v-model="tarefa.descricao"
						class="form-control"
						style="resize: none"
					></textarea>

					<button class="btn form-button" @click="adicionarTarefa">
						Adicionar
					</button>
				</div>
			</div>
			<div class="row kanban" style="justify-content: space-between">
				<div
					id="todo"
					class="col-3 drop-zone"
					@drop="onDrop($event, 1)"
					@dragover.prevent
					@dragenter.prevent
				>
					<div class="title">A FAZER</div>
					<div>
						<div
							v-for="data in listaFazer"
							class="card drag-el"
							draggable
							@dragstart="startDrag($event, data)"
						>
							<div class="cardbody">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="16"
									fill="currentColor"
									@click="excluir(data.id, 'todo')"
									class="bi bi-trash3-fill deletecard"
									viewBox="0 0 16 16"
								>
									<path
										d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"
									/>
								</svg>

								<div class="cardtitle">{{data.nome}}</div>
							</div>

							<div class="cardtext">{{data.descricao}}</div>
						</div>
					</div>
				</div>

				<div
					id="doing"
					class="col-3 drop-zone"
					@drop="onDrop($event, 2)"
					@dragover.prevent
					@dragenter.prevent
				>
					<div class="title">EM ANDAMENTO</div>
					<div>
						<div
							v-for="data in listaFazendo"
							class="card drag-el"
							draggable
							@dragstart="startDrag($event, data)"
						>
							<div class="cardbody">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="16"
									fill="currentColor"
									@click="excluir(data.id, 'doing')"
									class="bi bi-trash3-fill deletecard"
									viewBox="0 0 16 16"
								>
									<path
										d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"
									/>
								</svg>

								<div class="cardtitle">{{data.nome}}</div>
							</div>

							<div class="cardtext">{{data.descricao}}</div>
						</div>
					</div>
				</div>

				<div
					id="done"
					class="col-3 drop-zone"
					@drop="onDrop($event, 3)"
					@dragover.prevent
					@dragenter.prevent
				>
					<div class="title">CONCLUÍDO</div>
					<div>
						<div
							v-for="data in listaFeito"
							class="card drag-el"
							draggable
							@dragstart="startDrag($event, data)"
						>
							<div class="cardbody">
								<svg
									xmlns="http://www.w3.org/2000/svg"
									width="16"
									height="16"
									fill="currentColor"
									@click="excluir(data.id, 'done')"
									class="bi bi-trash3-fill deletecard"
									viewBox="0 0 16 16"
								>
									<path
										d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"
									/>
								</svg>

								<div class="cardtitle">{{data.nome}}</div>
							</div>

							<div class="cardtext">{{data.descricao}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Import Js -->
		<script src="./kanban.js"></script>
		<script>
			const mountedApp = kanban.mount("#kanbanDiv")
		</script>
	</body>
</html>
